* {
  margin: 0;
  padding: 0;
}
/* navbar */
.navbar {
}

/* Jumbotron */
#web-section {
  height: 575px;
  width: 1240px;
  background: #f2f6ff;
  border-radius: 60px;
  margin-top: 55px;
}

/* Card Left */
#card-left {
  padding: 108px 100px 107px 100px;
}

.body-text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #234cad;
}

.paragraph {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #234cad;
  padding: 25px 0 50px 0;
}

#card-left .btn {
  border-color: #234cad;
  border-radius: 32.5px;
  width: 200px;
  height: 65px;
  font-family: Nunito;
  font-weight: 700;
  font-size: 22px;
  color: #234cad;
}

.col-6 {
  /* padding:5%; */
}

/* Card Center */
#card-center {
  padding: 0;
}

#card-center-1 {
  width: 65px;
  height: 65px;
  text-align: center;
  border: 10px solid white;
  border-radius: 20px;
  padding: 0.7em;
  background: white;
  margin: 36px 0 25px 0;
}

#card-center-2 {
  height: 100px;
  width: 350px;
  border-radius: 20px;
  margin-bottom: 25px;
}
#card-center-2 .fa-stack {
  margin: 25px 20px;
}

.paragraph-2 {
  position: relative;
  bottom: 25px;
  left: 93px;
}

.paragraph-2 h4 {
  font-family: Nunito;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

.paragraph-2 p {
  font-family: nunito;
  font-weight: 400;
  size: 12px;
  line-height: 21px;
  color: #234cad;
}

#card-center-3 {
  height: 160px;
  width: 276px;
  border-radius: 25px;
}

#card-center-3 .fa-stack {
  position: absolute;
  margin: 20px;
  width: 60px;
  height: 60px;
  background-color: #f2f6ff;
  border-radius: 100%;
}

#card-center-3 .fa-stack .fa-calendar-days {
  margin-top: 5px;
}

.paragraph-3 {
  position: absolute;
  bottom: 69px;
  left: 100px;
  /* height: 21px; */
}

.paragraph-3 h4 {
  width: 104px;
  height: 21px;
  font-family: nunito;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

.paragraph-3 p {
  width: 118px;
  height: 21px;
  font-family: nunito;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

.text-block {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f2f6ff;
  color: white;
  padding: 12.5px;
  border-radius: 100%;
  bottom: 20px;
  margin: 20px -10px 20px 20px;
}

.person .text-block p {
  height: 14px;
  font-family: nunito;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
}

.text-block-1 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f2f6ff;
  color: white;
  padding: 12.5px;
  border-radius: 100%;
  bottom: 20px;
  margin-left: 50px;
}

.person-1 .text-block-1 p {
  height: 14px;
  font-family: nunito;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
}

.text-block-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f2f6ff;
  color: white;
  padding: 12.5px;
  border-radius: 100%;
  bottom: 20px;
  margin-left: 80px;
}

.person-2 .text-block-2 p {
  height: 14px;
  font-family: nunito;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
}

.text-block-3 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f2f6ff;
  color: white;
  padding: 12.5px;
  border-radius: 100%;
  bottom: 20px;
  margin-left: 110px;
}

.person-3 .text-block-3 p {
  height: 14px;
  font-family: nunito;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
}



/* CSS by : Sri Indah Desti */

/* product features */

h4,
h3,
h5,
h2,
h1 {
  color: #234CAD;

}

.isi-1 {
  color: #234CAD;
  font-size: 1.2em;
}

.isi-2 {
  color: #234CAD;
  font-size: 1em;
}

.isi-3 {
  color: #234CAD;
  font-size: 0.8em;
}

.bungkus-1 {
  width: 75px;
  height: 75px;

}

.bungkus-2 {
  height: 100px;
}

.bungkus-3 {
  height: 120px;
}

.sb {
  font-size: 1.5em;
  font-weight: 700;
  color: #234CAD;
}

.sb-1 {
  font-size: 1.2em;
  font-weight: 700;
  color: #234CAD;
}

.sb-2 {
  font-size: 1.1em;
  font-weight: 700;
  color: #234CAD;
}

span {
  font-size: 8px;
  color: white;

}

.circle {
  width: 30px;
  height: 30px;
}

.border {
  border: 100px solid #234CAD;
}


.card,
.jumbotron {
  border-radius: 60px;
}

.card-body {
  border-radius: 25px;
  color: black;
}

.destie {
  margin-top: 100px;
}

.text-messages {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #234CAD;
  font-family: 'Nunito';
}

.text-messages-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #234CAD;
  font-family: 'Nunito';
}

.btn {
  border-radius: 32px;
  background-color: white;
  border: 2px solid #234CAD;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  color: #234CAD;
}

.transfrom {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #234CAD;
}

.transfrom-2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #234CAD;
}

.features {
  height: auto;
}

a {
  text-decoration: none;
}

/* Akhir product features */



/* CSS by : Afifah */

/* footer */
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #234cad;
  font-size: 14px;
  background: #fff;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #F2F6FF;
  text-align: center;
  font-size: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #234CAD;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #234CAD;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #234CAD;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #234CAD;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #234CAD;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #106eea;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #234CAD;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #106eea;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #106eea;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #3b8af2;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #234CAD;
}

@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}

